

h2 {
    color: #03242F;
    padding-top: 30px;
}

.not-found {
    padding: 200px;
}

/****** Catalog and tours ******/

.catalog {
    padding: 10px 50px;
}

.catalog-title {
    padding: 100px 20px 20px 20px;
    color: "#7FAF9E";
    align-items: center;
}

.item {
    width: 18rem;
    margin-bottom: 20px;
 }

/******* END Catalog and tours ******/

/******* Bonus Track ******/
.bonusTrackContainer {
    justify-content: space-around;
    padding: 50px 50px 250px 50px;    
}

.bt-description {
    padding-bottom: 10px;
    text-align: justify;
}

.accordion-button {
    background-color: #03242F !important;
    color: white !important;
}

/******* END Bonus Track ******/


/******* Auth proces  ******/

.box {
    margin: 100px;
    border: 1px solid #EEDBAE;
    border-radius: 15px;
    max-width: 700px !important;

}

.btn {  
    font-size: 15px !important;
    color: white !important;
}

.g-btn { 
    border-radius: 7px;
    width: 90% !important;
    align-self: center;
}

.avatar {
    border-radius: 50%;
    max-width: 70px;
    border: solid 3px #03242F;
    padding: 3px;
    margin: 5px; 
} 

.profile {
    margin-top: 80px;
}

.profile {
    margin-top: 80px;
}

/******* END Auth proces  ******/


/******* Footer ******/

  .mainPageContainer {
    padding-bottom: 200px;
    text-align: justify;
    padding-top: 80px;
 }

 .about-title {
    margin: 30px 0 30px 0;
 }

 .twitter-icon {
    background-color: white;
}

.warning {
    color: #D81921;
    font-weight: bold;
}
/******* END Footer ******/


