h2 {
    color: #03242F;
    padding-top: 30px;
}

.link {
    color: white;
}

.link:hover {
    color: white;
}

  /******* Footer ******/

  .mainPageContainer {
    padding-bottom: 150px;
    text-align: justify;
 }

 .about-title {
    margin: 30px 0 30px 0;
 }
/******* END Footer ******/

