/****** Header ******/
.header {
    padding-bottom: 20px;
  }
  
  .logo {
    width: 45px;
    padding: 0 15px 0 0;    
  }
  
  .link {
    text-decoration: none;
    padding: 0 10px;
    color: white;
  }

  .link:hover {
    color: #EEDBAE;
}
  
  #basic-nav-dropdown  {
    color: white !important;
  }  
  
  .dropdown-link {
    text-decoration: none;
    color: #03242F !important;
  }
  
  
  /****** END Header ******/