.catalog-title {
    color: "#7FAF9E";
    padding: 70px 0 0 70px;
}

.catalog-container {
    justify-content: space-around;
   
}

.categories-container {
    padding: 5px 100px 0 5px;
    justify-content: right;
}

.categories-container li button {
    color: #03242F;
    background-color: #7FAF9E;
    font-weight: bold;
}
.categories-container li button:hover {
    color: black;
    background-color: #7FAF9E;
}

.category-title {
    color: #03242F;
    padding: 10px 0 0 70px;
}